<div class="container">
  <h2><%= @pokemon.name %></h2>
  <table class="table table-bordered table-sm">
    <thead>
    </thead>
    <tbody>
      <tr>
        <td><h5>Height</h5><%= "#{@pokemon.height}" %></td>
        <td><h5>Weight</h5><%= "#{@pokemon.weight}" %></td>
      </tr>
    </tbody>
  </table>

  <div class="card-group">
    <div class="card">
      <div class="card-body text-center">
        <p class="card-text"><%= image_tag(@pokemon.avatar) %></p>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-left">
        <h4 class="card-text">
          Types:
        </h4>
        <ul>
          <% @pokemon.types.each do |type| %>
             <li><%= type.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <%= link_to 'Back', root_path, class: 'back_btn' %>
</div>


